html {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #0038A8;
  color: white;
}
a{
  color:#0038A8;
}

.pride {
  color: #9B4F96;
  text-decoration: underline;
  text-decoration-color: #D60270;
}

header {
  background-color: #D60270;
  padding: 20px;
}

main {
  padding: 20px 200px 75px;
  background-color: white;
  color: black;
}

img {
  margin: 20px;
  border-radius: 20px;
}

.row {
  display: flex;
}

.col {
  float: left;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
  padding: 25px; 
 /* 25px because img has a 20px margin */
}

.third {
  width: 33.33%;
}

.fourth {
  width: 25%;
}

.half {
  width: 50%;
}

.quarter {
  width: 75%;
}

.topnav {
  background-color: #9B4F96;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.sliding-block {
  position: absolute;
  width: 100px;
  height: 100px;
  /* height: 100%; */
  background-color: #0038A8;
  cursor: pointer;
  user-select: none; /* Prevents text selection during drag */
}

.secret-panel {
  display: none;
  position: absolute;
  left: 50px;
  width: 500px;
  height: 100%;
  background-color: #f8f8f8;
  padding: 10px;
  box-sizing: border-box; /* Includes padding in the width */
  color:#D60270;
}

.toggle {
  display: flex;
  align-items: center;
  height: 100%;
}

.toggle input[type="checkbox"] {
  margin-right: 10px;
}

.container {
  position: relative;
  width: 300px;
  height: 100px;
  transition: background-color 0.3s;
}
