.container {
    position: relative;
    height: 150px;
    border: 2px solid #000;
    transition: background-color 0.3s;
}

.sliding-block {
    position: absolute;
    width: 50px;
    height: 100%;
    background-color: blue;
    cursor: pointer;
    user-select: none; /* Prevents text selection during drag */
}

.secret-panel {
    display: none;
    position: absolute;
    left: 50px;
    width: 250px;
    /* height: 100%; */
    background-color: #f8f8f8;
    padding: 10px;
    box-sizing: border-box; /* Includes padding in the width */
}

.toggle {
    display: flex;
    align-items: center;
    height: 100%;
}

.toggle input[type="checkbox"] {
    margin-right: 10px;
}
